body {
  /*font-family: 'Orbitron', sans-serif;*/
  background-color: blue;	
  /*background: url("../images/usa.jpg");*/
  font-family: 'Russo One', sans-serif;
  /*font-size: 30px;*/

}


.widthRating{
	max-width: 100px;

}

.gifCss{
	color: blue;
	text-align: center;
	

    width: auto;
    height: auto;
    border-style: solid;
    padding: 6px;
    float: left;
    margin: 6px;
    background: gray;
}

.button{
	margin: 6px;

}


.animal{
	margin: 6px;

}

#buttonContainer{
	background-color: blue;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	
}


#searchTerm{
	background-color: blue;
	padding: 10px;
	/*margin: 10px;*/
}

#gifContainer{
	background-color: blue;
}

#formContainer{
	width: 250px;
	margin-left: 30px;


}