.widthRating{
	max-width: 100px;

}

.gifCss{
	color: blue;
	text-align: center;
	

    width: auto;
    height: auto;
    border-style: solid;
    padding: 6px;
    float: left;
    margin: 6px;
    background: gray;
}

.button{
	margin: 6px;

}



